<!doctype HTML>
<meta charset = 'utf-8'>

<html>
  
<head>
  
    <title> Statistics Solutions Interactive Graphics Application </title>  
  
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet'>
    <link href='nvd3/css/nv.d3.css' rel='stylesheet' >
    <script src='nvd3/js/jquery-1.8.2.min.js' type='text/javascript'></script>
    <script src='nvd3/js/d3.v3.min.js' type='text/javascript'></script>
    <script src='nvd3/js/nv.d3.min-new.js' type='text/javascript'></script>
    <script src='nvd3/js/fisheye.js' type='text/javascript'></script>
    <script src='opencpu/opencpu-0.4.js' type='text/javascript'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js'></script>

    <style>
    .rChart {
      display: block
      margin: auto auto;
      width: 100%;
      height: 700px;
    }
    .container{
      margin-top: 40px;
    }
    .bs-docs-example:after {
      content: "";
      background: transparent;
      border: none;
    }
    </style>
    
</head>

<body ng-app>
 <div class='container'>
  <div class='row'>
   <div class='col-md-12'><h2> Statistics Solutions Interactive Charts </h2></div>
  </div> 
        <div class='col-md-3' ng-controller='iChartsCtrl'>
          <label><b>Select  X variable :</b></label>
    		   <select class='form form-control' ng-model="controls.x.value" 
            ng-options="controls.x.value for controls.x.value in controls.x.values"></select><br>
          <label><b>Select  Y variable :</b></label>
    		   <select class='form form-control' ng-model="controls.y.value" 
            ng-options="controls.y.value for controls.y.value in controls.y.values"></select><br>
          <label><b>Select Type of Plot :</b></label>
    		   <select class='form form-control' ng-model="controls.plottype.value" 
            ng-options="controls.plottype.value for controls.plottype.value in controls.plottype.values"></select><br>
          <label><b>Select Point Color :</b></label>
    		   <select class='form form-control' ng-model="controls.pointcolor.value" 
            ng-options="controls.pointcolor.value for controls.pointcolor.value in controls.pointcolor.values"></select><br>
          <label><b>Select Group Color by :</b></label>
    		   <select class='form form-control' ng-model="controls.groupcolor.value" 
            ng-options="controls.groupcolor.value for controls.groupcolor.value in controls.groupcolor.values"></select><br>
          <label><b>Select Point Size :</b></label>
    		   <select class='form form-control' ng-model="controls.pointsize.value" 
            ng-options="controls.pointsize.value for controls.pointsize.value in controls.pointsize.values"></select><br>
          <label><b>Select Group Size by :</b></label>
    		   <select class='form form-control' ng-model="controls.groupsize.value" 
            ng-options="controls.groupsize.value for controls.groupsize.value in controls.groupsize.values"></select><br>
        </div>
   <div class='col-md-9'><div id='iCharts'></div></div>
 </div>
</body>

<script>
function iChartsCtrl($scope){
$scope.controls = {
 "x": {
 "name": "x",
"value": "Q1Culture",
"values": [ "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24" ],
"label": "Select  x :" 
},
"y": {
 "name": "y",
"value": "Q1Infrastructure",
"values": [ "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24" ],
"label": "Select  y :" 
},
"plottype": {
 "name": "plottype",
"value": "scatterChart",
"values": [ "scatterChart", "multiBarChart" ],
"label": "Select  plottype :" 
},
"pointcolor": {
 "name": "pointcolor",
"value": "blue",
"values": [ "blue", "green", "red", "orange", "black" ],
"label": "Select  pointcolor :" 
},
"pointsize": {
 "name": "pointsize",
"value":     5,
"values": [ 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ],
"label": "Select  pointsize :" 
},
"groupcolor": {
 "name": "groupcolor",
"value": "<Overall>",
"values": [ "<Overall>", "MetroMicroRural", "Stakeholder", "Region", "EcTier" ],
"label": "Select  groupcolor :" 
},
"groupsize": {
 "name": "groupsize",
"value": "<Equal Size>",
"values": [ "<Equal Size>", "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24" ],
"label": "Select  groupsize :" 
} 
} 

  $scope.makeChart = function(){
    var req = ocpu.rpc("inlineChart",  {"xvar": $scope.controls.x.value, 
                                        "yvar": $scope.controls.y.value,
                                        "plottype": $scope.controls.plottype.value,
                                        "pointcolor": $scope.controls.pointcolor.value,
                                        "groupcolor": $scope.controls.groupcolor.value,
                                        "pointsize": $scope.controls.pointsize.value,
                                        "groupsize": $scope.controls.groupsize.value},
                       function(output){   
                         $('#iCharts').html(output)
                       }).fail(function(text){
                         alert("Error: " + req.responseText);
                       });
  }
  
  $scope.$watchCollection('[xvar, yvar, plottype, pointcolor, groupcolor, pointsize, groupsize]', function(newValues){
   console.log(newValues)
    $scope.makeChart({xvar: newValues[0], 
                      yvar: newValues[1], 
                      plottype: newValues[2], 
                      pointcolor: newValues[3],
                      groupcolor: newValues[4], 
                      pointsize: newValues[5],
                      groupsize: newValues[6]
                     })
  })
}

</script>
</html>
