<!doctype HTML>
<html>
<head>
  <meta charset = 'utf-8'>
    <title> Statistics Solutions Interactive Graphics Application </title>  
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel='stylesheet'>
    <link href='nvd3/css/nv.d3.css' rel='stylesheet'>
    <script src='nvd3/js/jquery-1.8.2.min.js' type='text/javascript'></script>
    <script src='nvd3/js/d3.v3.min.js' type='text/javascript'></script>
    <script src='nvd3/js/nv.d3.min-new.js' type='text/javascript'></script>
    <script src='nvd3/js/fisheye.js' type='text/javascript'></script>
    <script src='opencpu/opencpu-0.4.js' type='text/javascript'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js'></script>
    
    <style>
    .rChart {
      display: block
      margin: auto auto;
      width: 100%;
      height: 700px;
    }
    .container{
      margin-top: 20px;
    }
    .bs-docs-example:after {
      content: "";
      background: transparent;
      border: none;
    }
    </style>
    
</head>

<body ng-app>
 <div class='container'>
  <div class='row'>
   <div class='col-md-12'><h2> Statistics Solutions Interactive Charts </h2></div>
  </div> 
        <div class='col-md-3' ng-controller='iChartsCtrl'>
          <label><b>Select  X variable :</b></label>
    		   <select class='form form-control' ng-model="xvalue" 
            ng-options="xvalue for xvalue in xvalues"></select><br>
          <label><b>Select  Y variable :</b></label>
    		   <select class='form form-control' ng-model="yvalue" 
            ng-options="yvalue for yvalue in yvalues"></select><br>
          <label><b>Select Type of Plot :</b></label>
    		   <select class='form form-control' ng-model="plottype" 
            ng-options="plottype for plottype in plottypes"></select><br>
          <label><b>Select Point Color :</b></label>
    		   <select class='form form-control' ng-model="pointcolor" 
            ng-options="pointcolor for pointcolor in pointcolors"></select><br>
          <label><b>Select Group Color by :</b></label>
    		   <select class='form form-control' ng-model="groupcolor" 
            ng-options="groupcolor for groupcolor in groupcolors"></select><br>
          <label><b>Select Point Size :</b></label>
    		   <select class='form form-control' ng-model="pointsize" 
            ng-options="pointsize for pointsize in pointsizes"></select><br>
          <label><b>Select Group Size :</b></label>
    		   <select class='form form-control' ng-model="groupsize" 
            ng-options="groupsize for groupsize in groupsizes"></select><br>
        </div>
   <div class='col-md-9'>
     <div id='iCharts'></div>
   </div>
 </div>
 
<script>
function iChartsCtrl($scope){
    $scope.xvalues = [ "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24"]
    $scope.yvalues = [ "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24"]
    $scope.plottypes = [ "scatterChart", "multiBarChart"]
    $scope.pointcolors = [ "blue", "green", "red", "orange", "black"]
    $scope.groupcolors = [ "OVERALL", "MetroMicroRural", "Stakeholder", "Region", "EcTier"]
    $scope.pointsizes = [ 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    $scope.groupsizes = [ "SAME", "Q1Culture", "Q1Infrastructure", "Q1Leaders", "Q1Funding", "Q2Culture", "Q2Infrastructure", "Q2Leaders", "Q2Funding", "Yrs1", "Yrs2", "Yrs3", "Yrs4", "RuralUrbanMixed", "CountyName", "Population", "q22summed", "q23summed", "q24summed", "TOTALq1_24"]
    
    $scope.xvalue = $scope.xvalues[0]
    $scope.yvalue = $scope.yvalues[1]
    $scope.plottype = $scope.plottypes[0] 
    $scope.pointcolor = $scope.pointcolors[0]
    $scope.groupcolor = $scope.groupcolors[0]
    $scope.pointsize = $scope.pointsizes[0]
    $scope.groupsize = $scope.groupsizes[0]
  

  $scope.makeChart = function(){
    var req = ocpu.rpc("inlineChart",  {xvalue: $scope.xvalue, 
                                        yvalue: $scope.yvalue,
                                        plottype: $scope.plottype,                                     
                                        pointcolor: $scope.pointcolor,
                                        groupcolor: $scope.groupcolor,
                                        pointsize: $scope.pointsize,
                                        groupsize: $scope.groupsize},
                       function(output){   
                         $('#iCharts').html(output)
                       }).fail(function(text){
                         alert("Error: " + req.responseText);
                       });
  }
  
  $scope.$watchCollection('[xvalue, yvalue, plottype, pointcolor, groupcolor, pointsize, groupsize]', function(newValues){
    $scope.makeChart({xvalue: newValues[0], 
                      yvalue: newValues[1], 
                      plottype: newValues[2], 
                      pointcolor: newValues[3],
                      groupcolor: newValues[4], 
                      pointsize: newValues[5],
                      groupsize: newValues[6]
                     })
    console.log(newValues)
  })
}</script> 
</body>
</html>
